node_modules/
.env
*.log
*.gz
*.zip
data/JMdict_b.xml
data/vocab-enhanced.json
data/vocab-enhanced.jsonl
data/vocab.db
data/vocab.db-wal
data/vocab.json
data/vocab-v3.jsonl
data/metadata.json
data/hnsw.index
data